Studying/github/.vs/
Studying/github/HelloWorld/bin/Debug/HelloWorld.exe
Studying/github/HelloWorld/bin/Debug/HelloWorld.exe.config
Studying/github/HelloWorld/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Studying/github/HelloWorld/bin/
Studying/github/HelloWorld/obj/
